{% extends 'client_base.html' %}
{% load static %}
{% block title%}My Daily Journals{% endblock %}
{% block content %}
<!--this page displays all days in journal, and allows clients to add new days -->

<header class="masthead" style="background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1511871893393-82e9c16b81e3%3Fcrop%3Dfaces%252Cedges%26cs%3Dtinysrgb%26fit%3Dcrop%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY5ODY2NjU1%26ixlib%3Drb-4.0.3%26q%3D60%26w%3D1200%26auto%3Dformat%26h%3D630%26mark-w%3D64%26mark-align%3Dtop%252Cleft%26mark-pad%3D50%26blend-mode%3Dnormal%26blend-alpha%3D10%26blend-w%3D1%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Flogo.png%26blend%3D000000')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1> My Daily Journals </h1> <br>
                    <span class="subheading"> View or Add Daily Journals Below</h1></span></p>
                    <a class="btn btn-outline-dark text-uppercase" href="{%url 'addDiary' %}" style="justify-content: center">Add A New Journal</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 ">
            <!-- Post preview-->
            <div class="post-preview">
                    <h3 class="post-subtitle">Daily Journals:</h3> <br>
                    
                <p class="post-meta">
                </p>
                
                <div class="flex-container">
                    {% for x in diary%}
                            <div class="Spencer">
                                <a href="{%url 'showEntry' diary_id=x.dd_id%}">
                                    {{x.username}} <br> {{x.date}}
                                </a>
                            </div>
                    {% endfor %} 
                </div>
            </div>
        </div> 
    </div>
</div>

<br><br>


<style>
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
  }

.Spencer{
    border: 1px solid darkgray;
    margin: 5px;
    padding: 10px;

}
</style>

{% endblock%}
<!--
<h1><b>CUSTOMER LIST</b></h1>
<a class='btn btn-primary' href="{% url 'addCustomer' %}">New Customer</a>
<br><br>
<div class='container'>
    {% for customer in cust %}
    <p>
        <a class='btn btn-primary' href="{% url 'showSingleCustomer' cust_id=customer.id %}">Edit</a>
        <a class='btn btn-primary' href="{% url 'addCustomerDestination' cust_id=customer.id %}">Add Destination</a>
        {{customer.last_name}}, {{ customer.first_name}}
        <a class='btn btn-primary' href="{% url 'deleteCustomer' cust_id=customer.id %}">Delete</a>
    </p>
    {% endfor %}
</div>
-->