{% extends 'client_base.html' %}
{% load static %}
{% block title%}Update Client{% endblock %}
{% block content %}
<!-- Clients can update their information on this page-->

<!-- Page Header-->
	<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    	<div class="container position-relative px-4 px-lg-5">
        	<div class="row gx-4 gx-lg-5 justify-content-center">
            	<div class="col-md-10 col-lg-8 col-xl-7">
                	<div class="site-heading">
                    	<h1>Update Information</h1><br>
						<!-- dynamic heading-->
                    	<span class="subheading">
                        	{% if user.is_authenticated %}
                	        Hello {{ user.username }}! <br><br>Update Your Personal Information Below
                        	{% endif %}</span>
                	</div>
            	</div>
        	</div>
    	</div>
	</header>
	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
    	<div class="row gx-4 gx-lg-5 justify-content-center">
        	<div class="col-md-10 col-lg-8 col-xl-7">
            	<form name='form' method='post' action="{% url 'updateClient' clientusername=user.username %}">
                	{% csrf_token %}
            	<!-- Post preview-->
            	<div class="post-preview">
                    	<h2>Personal Information</h2><br>
                       
                        	<label for="username">Username:</label>
                        	<input type="text" value="{{client.username}}" name="username" id="username" readonly>
                        	<br><br>
                   
                        	<label for="first_name">First name:</label>
                        	<input type="text" name="first_name" value="{{client.first_name}}" id="first_name" autofocus>
                        	<br><br>
                           
                        	<label for="last_name">Last name:</label>
                        	<input type="text" name="last_name" value="{{client.last_name}}" id="last_name" autofocus>
                        	<br><br>
 
                        	<label for="email">Email:</label>
                        	<input type="text" name="email" value="{{client.email}}" id="email" autofocus>
                        	<br><br>


                        	<label for="gender">Gender:</label>
                        	<select name="gender" id="gender">
                        	<option value="none"{% if client.gender == 'none'%} selected {%endif%}>--</option>
                            <option value="female" {% if client.gender == 'female'%} selected {%endif%}>Female</option>
                        	<option value="male" {% if client.gender == 'male'%} selected {%endif%}>Male</option>
                        	<option value="other" {% if client.gender == 'other'%} selected {%endif%}>Other</option>
                        	</select>
                      	  <br><br>
 
                        	<label for="race">Race:</label>
                        	<select name="race" id="race">
                        	<option value="none" {% if client.race == 'none'%} selected {%endif%}>--</option>
                        	<option value="white" {% if client.race == 'white'%} selected {%endif%}>White</option>
                        	<option value="hispanic" {% if client.race == 'hispanic'%} selected {%endif%}>Hispanic</option>
                        	<option value="black" {% if client.race == 'black'%} selected {%endif%}>Black</option>
                        	<option value="asian" {% if client.race == 'asian'%} selected {%endif%}>Asian</option>
                        	<option value="multiple races" {% if client.race == 'multiple races'%} selected {%endif%}>Multiple Races</option>
                        	<option value="american indian/alaskan native" {% if client.race == 'american indian/alaskan native'%} selected {%endif%}>American Indian/Alaskan Native</option>
                        	<option value="native hawaiian/pacific islander" {% if client.race == 'native hawaiian/pacific islander'%} selected {%endif%}>Native Hawaiian/Pacific Islander</option>
                        	</select>
                        	<br><br>
                	</br>
            	</div>
            	<!-- Divider-->
            	<hr class="my-4" />
            	<!-- Post preview-->
    	        <div class="post-preview">
                    	<h2 class="post-title">Current Stats</h2><br>
 
                    	<label for="weight">Weight:</label>
                    	<input type="text" name="weight" id="weight" value={{client.weight}}>
    	                <br><br>
                    	<label for="condition_name">Additional Condition:</label>
                    	<select type ="text" name="condition_name" id="condition_name">
						<option value="none" {% if client.condition_name == 'none'%} selected {%endif%}>None</option>
                    	<option value="cardiovascular disease" {% if client.condition_name == 'cardiovascular disease'%} selected {%endif%}>Cardiovascular Disease</option>
                    	<option value="diabetes" {% if client.condition_name == 'diabetes'%} selected {%endif%}>Diabetes</option>
                    	<option value="hyperlipidemia" {% if client.condition_name == 'hyperlipidemia'%} selected {%endif%}>Hyperlipidemia</option>
                    	<option value="hypertension" {% if client.condition_name == 'hypertension'%} selected {%endif%}>Hypertension</option>
                    	</select>
                    	<br><br>
            	</div>
            	<!-- Divider-->
            	<hr class="my-4" />
            	<!-- Pager-->
            	<div class="d-flex justify-content-end mb-4"><button type='submit'>Update</button></div>
        	</form>
			</div>
    	</div>
	</div>
{% endblock%}

